.martinsAquarium {
    text-align: center;
}




.fishcard {
    word-wrap: break-word;
    border: solid slateblue 3px;
    width: 1100px;
    margin: 50px
}


.fish__image {
    width: 300px;
}
.harvest {
    word-wrap: break-word;
    border: solid slateblue 3px;
    width: 1100px
}

.tankTipsTitle {
    margin: 60px
}
.quotesTitle {
    margin: 50px
}

.locationTitle {
    margin: 50px
}

.myFishTitle {
    margin: 50px
}
.tanktips {
    
    word-wrap: break-word;
    border: solid slateblue 3px;
    width: 250px
    
}

#entireBody {
    display: flex;
    justify-content: space-between;
   
}

#leftside {
 flex-basis: 80%;

    

}

#rightside {
   flex-basis: 30%;
   margin: 50px    

}


