

#siteHeader {
   font-size: 100px;
   margin: auto;
    text-align: center;
    color:blue;
    background-color: rgb(143, 240, 240);
}

#entireBody {
    display: flex;
    justify-content: space-around; 
    background-color: aqua;
    
}

#leftside {
 flex-basis: 70%;
 margin-bottom: 100px;
}

#rightside {
   flex-basis: 20%;
    margin-bottom: 100px;
   margin-top: 15px;
   
}


.fishcard {
    
    border: solid slateblue 3px;   
}


.fish__image {
    width: 300px;
}

.myFishTitle {
   
    color: blue;
}


.locationcard {
    
    border: solid slateblue 6px;
   
}

.locationcard_name {
    
    font-size: 25px;
}

.locationcard_description {

    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.locationsection {
    padding: 20px;
}


.tipcard {
    
    word-wrap: break-word;
    border: solid slateblue 3px;
    padding: 10px;

}

.tankTipsTitle{
    color: blue;
}
.locationTitle {
    color: blue;
}



